// Desktop only!
.nav-bar-segment {
  .mantine-SegmentedControl-control {
    border: none;
  }

  .mantine-SegmentedControl-indicator {
    background-color: unset;
    border-bottom: 1px solid white;
  }

  .mantine-SegmentedControl-label {
    color: black;

    &:hover {
      color: white;
    }

    &[data-active] {
      color: white;
    }
  }
}
