.nav-bar-link {
    --_gap: 2rem;
    --scale-duration: 300ms;
    --translate-duration: 200ms;

    position: relative;
    padding: calc(var(--_gap) / 2);
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background: orange;
        translate: var(--_translate, 0);
        scale: var(--_width, 0) 1;
        transition: scale var(--scale-duration) var(--_scale-delay, 0ms), translate calc(var(--scale-duration) + var(--translate-duration))  var(--_translate-delay, 0ms);
    }

    &:hover, &:focus-within {
        --_width: 1;
        outline: none;
    }

    @supports selector(:has(h1)) {
        &:hover + .nav-bar-link {
            --_translate: -100%;
            --_scale-delay: var(--scale-duration);
            --_translate-delay: var(--translate-duration);
        }
    
        &:has(+ :hover) {
            --_translate: 100%;
            --_scale-delay: var(--scale-duration);
            --_translate-delay: var(--translate-duration);
        }
    }
   
}